<script>
  toast('success', 'register success');
</script>
<body class="bg-body-tertiary p-5">
  <div class="container">
    <div class="row">
      <h1 class="text-center">Login</h1>
    </div>
  </div>
  <div class="container">
    <div class="row w-50 m-auto mt-5">
      <form action="/login" method="POST">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input
            name="email"
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
          />
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input
            name="password"
            type="password"
            class="form-control"
            id="exampleInputPassword1"
          />
        </div>
        <div class="mb-3 form-check">
          <input
            name="checkbox"
            type="checkbox"
            class="form-check-input"
            id="exampleCheck1"
          />
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <div class="row w-25 m-auto">
          <button type="submit" class="btn btn-primary">Login</button>
        </div>
      </form>
    </div>
  </div>
</body>